<% include partials/header%>
<h1>Search Tweets!</h1>

<p>Search Tweets!</p>

<form action="/results" method="GET">
	<input type = "text" placeholder="search tweet" name="search">
	<input type="submit">
</form>
<% include partials/footer%>